extends layout

block content
  .container
  
    .row(style="margin-top: 150px;")
      form
    .row
      .col-md-8
        #map  
      .col-md-4
        div.liste
          div
            form(action="/map", method="get")
              h3 Zone géographique
              label(style="margin-right: 20px; color: #0c518a;")
                input#btn1(type='radio', name='zone', value='Belleville')
                |             Belleville-Amandiers-Pelleport
              label(style="margin-right: 20px; color: #0c518a;")
                input#btn2(type='radio', name='zone', value='Portes')
                |             les Portes du 20e
              label(style="color: #0c518a;")
                input#btn3(type='radio', name='zone', value='all', checked)
                |             A l'echelle de l'arrondissement
              h3 Services
              select(name='service')
                option(value='all') Tout service
                option(value='Écrivains') Écrivains publics
                option(value='E-administration') E-administration
                option(value='Interprètes') Interprète
              br
              h3 Recherche tous champs
              input(type='text', name="q", ng-model='query', placeholder='Recherche associations')
              br
              br
              button 
                a(href="/map") Reset
              input(type="submit", value="Ok!")
            each item in accounts
              if !item.admin
                h3= item.structureName
                ul
                  li= item.type
                  li= item.time
                  li= (item.meeting===false ? "Sans rendez-vous" : "Avec rendez-vous")
                  li= item.public
                  li= item.adressNb+' '+item.adressType+' '+item.adressName
                  li= item.structureMail
                  li= item.structurePhone
                  li= item.metro
                  
                if item.perm2
                  h4 Hors les murs
                  ul
                    li= item.type2
                    li= item.time2
                    li= (item.meeting2===false ? "Sans rendez-vous" : "Avec rendez-vous")
                    li= item.public2
                    li= item.adressNb2+' '+item.adressType2+' '+item.adressName2
                    li= item.structureMail2
                    li= item.structurePhone2
                    li= item.metro2
                    li
                      a(href='http://'+item.website, target='_blank') 
                        = item.website
    #images
  script(type='text/javascript').
    function $_GET(param) {
      var vars = {};
      window.location.href.replace( location.hash, '' ).replace( 
        /[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
        function( m, key, value ) { // callback
          vars[key] = value !== undefined ? value : '';
        }
      );

      if ( param ) {
        return vars[param] ? vars[param] : null;	
      }
      return vars;
    }
    
    if($_GET) {
      var zone = $_GET('zone');
      var service = $_GET('service');
      var q = $_GET('q');
      var link1 = zone === null ? 'zone=&' : 'zone='+zone+'&'
      var link2 = q === null ? 'q=&' : 'q='+q+'&'
      var link3 = service === null ? 'service=' : 'service='+service


      
      var finalLink = link1+link2+link3;

      document.getElementById("print").href = '/pdf?'+finalLink
    }
    
    var data = !{JSON.stringify(locals)}
    if($_GET('zone')==='Portes') {
      var map = L.map('map').setView([48.859599,2.409270], 15);
    }else if ($_GET('zone')==='Belleville') {
      var map = L.map('map').setView([48.871764,2.385085], 15);
    } else {
      var map = L.map('map').setView([48.871764,2.385085], 13);
    }         
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
         
     // markers
     for (var i = 0; i < data.accounts.length; i++) {
       var meeting = data.accounts[i].meeting===false ? "Sans rendez-vous" : "Avec rendez-vous";
       if(!data.accounts[i].admin) {
         L.marker([data.accounts[i].geocoding[0].latitude, data.accounts[i].geocoding[0].longitude]).bindPopup(
           "<h3>"+ data.accounts[i].structureName +"</h3><div class='liste' style='font-size:1.3em;'><ul><li>"+data.accounts[i].type+"</li><li>"+data.accounts[i].time+"</li><li>"+meeting+"</li><li>"+data.accounts[i].public+"</li><li>"+data.accounts[i].adressNb+" "+data.accounts[i].adressType+" "+data.accounts[i].adressName+"</li><li>"+data.accounts[i].structureMail+"</li><li>"+data.accounts[i].structurePhone+"</li><li>"+data.accounts[i].metro+"</li></ul></div>").addTo(map);
       }
       if(data.accounts[i].perm2) {
         L.marker([data.accounts[i].geocoding2[0].latitude, data.accounts[i].geocoding2[0].longitude], {icon: greenIcon}).bindPopup(
           "<h3> Hors les murs de "+ data.accounts[i].structureName +"</h3><div class='liste' style='font-size:1.3em;'><ul><li>"+data.accounts[i].type2+"</li><li>"+data.accounts[i].time2+"</li><li>"+meeting+"</li><li>"+data.accounts[i].public2+"</li><li>"+data.accounts[i].adressNb2+" "+data.accounts[i].adressType2+" "+data.accounts[i].adressName2+"</li><li>"+data.accounts[i].structureMail+"</li><li>"+data.accounts[i].structurePhone+"</li><li>"+data.accounts[i].metro2+"</li></ul></div>").addTo(map);
         
       }
       
       
     }
     

     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
