extends layout

block content
  .container(style="margin-top: 100px;")
    h1 Modifier les données
    br
    form(role='form', action="/panel",method="post", style='max-width: 300px;')
      input(type='hidden', name='id', value=accounts._id)
      .form-group
          input.form-control(type='text', name="username", placeholder='Enter Username', value=accounts.username)
      .form-group
          input.form-control(type='email', name="email", placeholder='Enter Email', value=accounts.email)
      .form-group
        input.form-control(type='text', name="structureName", placeholder='Nom de la structure', value=accounts.structureName)
      .form-group
        input.form-control(type='email', name="structureMail", placeholder='Email de contact', value=accounts.structureMail)
      .form-group
        input.form-control(type='text', name="structurePhone", placeholder='Téléphone', value=accounts.structurePhone)
      .form-group
        input.form-control(type='number', name="adressNb", placeholder='N°', value=accounts.adressNb)
      .form-group
        select.form-control(name="adressType")
          option(value="Allée", selected=(accounts.adressType === "Allée" ? true : false)) Allée
          option(value="Avenue", selected=(accounts.adressType === "Avenue" ? true : false)) Avenue
          option(value="Boulevard", selected=(accounts.adressType === "Boulevard" ? true : false)) Boulevard
          option(value="Carrefour", selected=(accounts.adressType === "Carrefour" ? true : false)) Carrefour
          option(value="Chemin", selected=(accounts.adressType === "Chemin" ? true : false)) Chemin
          option(value="Chaussée", selected=(accounts.adressType === "Chausée" ? true : false)) Chaussée
          option(value="Cité", selected=(accounts.adressType === "Cité" ? true : false)) Cité
          option(value="Corniche", selected=(accounts.adressType === "Corniche" ? true : false)) Corniche
          option(value="Cours", selected=(accounts.adressType === "Cours" ? true : false)) Cours
          option(value="Domaine", selected=(accounts.adressType === "Domaine" ? true : false)) Domaine
          option(value="Descente", selected=(accounts.adressType === "Descente" ? true : false)) Descente
          option(value="Ecart", selected=(accounts.adressType === "Ecart" ? true : false)) Ecart
          option(value="Esplanade", selected=(accounts.adressType === "Esplanade" ? true : false)) Esplanade
          option(value="Faubourg", selected=(accounts.adressType === "Faubourg" ? true : false)) Faubourg
          option(value="Hameau", selected=(accounts.adressType === "Hameau" ? true : false)) Hameau
          option(value="Halle", selected=(accounts.adressType === "Halle" ? true : false)) Halle
          option(value="Impasse", selected=(accounts.adressType === "Impasse" ? true : false)) Impasse
          option(value="Lieu-dit", selected=(accounts.adressType === "Lieu-dit" ? true : false)) Lieu-dit
          option(value="Lotissement", selected=(accounts.adressType === "Lotissement" ? true : false)) Lotissement
          option(value="Marché", selected=(accounts.adressType === "Marché" ? true : false)) Marché
          option(value="Montée", selected=(accounts.adressType === "Montée" ? true : false)) Montée
          option(value="Passage", selected=(accounts.adressType === "Passage" ? true : false)) Passage
          option(value="Place", selected=(accounts.adressType === "Place" ? true : false)) Place
          option(value="Plaine", selected=(accounts.adressType === "Plaine" ? true : false)) Plaine
          option(value="Plateau", selected=(accounts.adressType === "Plateau" ? true : false)) Plateau
          option(value="Parvis", selected=(accounts.adressType === "Parvis" ? true : false)) Parvis
          option(value="Quartier", selected=(accounts.adressType === "Quartier" ? true : false)) Quartier
          option(value="Quai", selected=(accounts.adressType === "Quai" ? true : false)) Quai
          option(value="Résidence", selected=(accounts.adressType === "Résidence" ? true : false)) Résidence
          option(value="Ruelle", selected=(accounts.adressType === "Ruelle" ? true : false)) Ruelle
          option(value="Rocade", selected=(accounts.adressType === "Rocade" ? true : false)) Rocade
          option(value="Rond-point", selected=(accounts.adressType === "Rond-point" ? true : false)) Rond-point
          option(value="Route", selected=(accounts.adressType === "Route" ? true : false)) Route
          option(value="Rue", selected=(accounts.adressType === "Rue" ? true : false)) Rue
          option(value="Sente - Sentier", selected=(accounts.adressType === "Sente - Sentier" ? true : false)) Sente - Sentier
          option(value="Square", selected=(accounts.adressType === "Square" ? true : false)) Square
          option(value="Terre-plein", selected=(accounts.adressType === "Terre-plein" ? true : false)) Terre-plein
          option(value="Traverse", selected=(accounts.adressType === "Traverse" ? true : false)) Traverse
          option(value="Villa", selected=(accounts.adressType === "Villa" ? true : false)) Villa
          option(value="Village", selected=(accounts.adressType === "Village" ? true : false)) Village
      .form-group
        input.form-control(type='text', name="adressName", placeholder='Nom de la voie', value=accounts.adressName)
      .form-group
        input.form-control(type='text', name="adressZip", placeholder='Code Postal', value=accounts.adressZip)
      .form-group
        input.form-control(type='text', name="metro", placeholder='Station de métro', value=accounts.metro)
      .form-group
        select.form-control(name="zone")
          option(value="Belleville", selected=(accounts.zone === "Belleville" ? true : false)) Belleville-Amandiers-Pelleport
          option(value="Porte", selected=(accounts.zone === "Porte" ? true : false))  Les Portes du 20e
      .form-group
        input.form-control(type='text', name="website", placeholder='Site internet', value=accounts.website)
      select.form-control(name="type" multiple)
          option(value="Écrivains publics", selected=(accounts.type == "Écrivains publics" ? true : false)) Écrivains publics
          option(value="E-administration", selected=(accounts.type == "E-administration" ? true : false)) E-administration
          option(value="Pôle numérique", selected=(accounts.type == "Pôle numérique" ? true : false)) Pôle numérique
          option(value="Interprète", selected=(accounts.type == "Interprète" ? true : false)) Interprète
          option(value="Soutien juridique", selected=(accounts.type == "Soutien juridique" ? true : false)) Soutien juridique
          option(value="Assistance sociale", selected=(accounts.type == "Assistance sociale" ? true : false)) Assistance sociale
          option(value="Permanence Accueil et Solidarité", selected=(accounts.type == "Permanence Accueil et Solidarité" ? true : false)) Permanence Accueil et Solidarité
        .form-group
          input.form-control(type='text', name="public", placeholder='Publics', value=accounts.public)
        .form-group
          input.form-control(type='text', name="time", placeholder='Horaires', value=accounts.time)
        .form-group
          input.form-control(type='radio', name="meeting", value='1', checked=(accounts.meeting === true ? true : false))
          input.form-control(type='radio', name="meeting", value='0', checked=(accounts.meeting === false ? true : false))
          
      button.btn.btn-default(type='submit') Submit
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
